/* Globals */
body {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 2% 4% 2% 8%;
}

li {
  line-height: 2.5rem;
}
li:hover, button:hover {
  cursor: pointer;
}

button {
  margin: 0 5%;
}

/* Classes */
.container {
  margin: 10% 0 13%;
}
.done {
  text-decoration: line-through;
}
.list {
  margin: 3% 35%;
  border: solid black 2px;
}
.enter {
  margin: 0;
  padding: 10px;
}
.newShop {
  margin: 2% 0;
}
/* ID's */
#userInput {
  padding: 10px;
}

/* Medias */
@media (max-width: 650px) {
  .container {
    margin-top: 20%;
  }
  .list {
    margin: 15% 20% 40%;
  }
}